h1 {
  font-size: 50px;
  color : #FF6E80;
  text-shadow: 3px 3px #3d26a6;
  text-align: center;
}

h3 {
  font-size: 30px;
  color: #AF125A;
  text-shadow: 1px 1px #3d26a6;
  text-decoration: overline;
}

body {
  background-color: #4723e8;
}
