body {
  background-color: #008bf8;
}

nav {
  list-style-type: none;
  position: fixed;
  background-color: #47AFFF;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

li, a {
  display: inline;
  float: right;
  padding: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: helvetica;
  font-weight: bold;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

li:hover {
  background-color: #249DFC;
  color: #ADDCFF;
}

#demo {
  margin-top: 120px;
  text-align: center;
  font-size: 60px;
}

h1 {
  color: #ADDCFF;
  font-family: helvetica;
}

h2 {
  padding: 1px;
  color: #249DFC;
  background-color: #0E69CA;
  font-family: helvetica;
  border-radius: 10px;
  font-size: 200%;
  font-weight: 900;
  text-align: center;
  min-width: 40vw;
  max-width: 50vw;
}

p {
  color: white;
  padding: 20px;
  font-family: helvetica;
  font-weight: 20;
  font-size: 25px;
}

.container {
  /*display: flex;*/
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  left: 0;
}

span.about {
  display: inline-block;
  width: 100%;
  z-index: 1;
  background-color: #1c469c;
  background-image: url(../images/event_imgs/blue_drops.gif);
  
}

span.tickets {
  display: inline-block;
  z-index: 1;
  background-color: #1c469c;
  background-image: url(../images/event_imgs/blue_drops.gif);
  height: 60vh;
  width: 100%;
   margin-top: 10px;
}

span.store {
  display: inline-block;
  z-index: 1;
  background-color: #1c469c;
  background-image: url(../images/event_imgs/blue_drops.gif);
  height: 60vh;
  width: 100%;
  margin-top: 10px;
}

span.map {
  display: inline-block;
  width: 100%;
  z-index: 1;
  background-color: #1c469c;
  background-image: url(../images/event_imgs/blue_drops.gif);
  margin-top: 10px;
}

#Gmap {
  min-width: 50vw;
  min-height: 50vh
}

/* Tablet */
@media only screen and (max-width: 1023px) {
  .container {
    flex-direction: column;
  }
  
  /* Mobile */
  @media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
    
    li, a {
  display: inline;
  float: right;
  padding: 5px;
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: helvetica;
  font-weight: bold;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

p {
  color: white;
  padding: 15px;
  font-family: helvetica;
  font-weight: 15;
  font-size: 20px;
}
