@font-face{
  font-family: "spire";
  src: url(fonts/OPTISpire.otf) format("opentype");
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #B2D8DD;
  margin: 0;
}

nav{
  list-style-type: none;
  position: fixed;
  text-align: right;
  background-color: #FFCF10;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}



/* Dropdown Button */
.dropbtn {
  float:right;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 1;
  background-color: transparent;
  background-image: url("http://dce.rocketausgate.com/_images/menu-icon.png");
  background-size: cover;
  color: white;
  width: 80px;
  height: 80px;
  font-size: 40px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: orange;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: orange;
  right:0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: darkorange}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

video {
  position: absolute;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  left: 0;
}

#logo_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

#logo {
  width: 40vw;
  min-width: 290px;
  z-index: 11;
}

h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 8vw;
  color: white;
  -webkit-text-stroke: 3px black;
  text-shadow: 2px 2px black;
  margin-top: -10px;
  margin-bottom: -10px;
}

h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 6vw;
  color: white;
  -webkit-text-stroke: 3px black;
  text-shadow: 2px 2px black;
  margin-right: 10px;
  margin-top: -5px;
  text-align: right;
  position: relative;
  z-index: 2;
}

p{
  font-family: 'spire', sans-serif;
}

.quote{
  width: 55%;
  color: white;
  font-size: 2vw;
  position: absolute;
  bottom: 0;
  right: 10px;
}

#main {
  display: flex;
  flex-direction: column;
}

#intro {
  width: 100%;
  
}

#wood {
  width: 100%;
  height: 128px;
  background-repeat: repeat-x;
  background-size: 200px 200px;
  background-image: url("http://i.imgur.com/Jy0VsBA.jpg");
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#map{
  width: 80%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px 50px #B2D8DD inset;
}

#entertainers{
  background-color: none;
  position: relative;
}

#carousel{
  position: absolute;
  width: 80vw;
  height: 35vh;
  max-height: 250px;
  margin-bottom: 20px;
}

#viewer{
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}

#slideview{
  display: flex;
  width: 500%;
  height: 100%;
  position: absolute;
  left: 0%;
  transition: transform 2s;
  transition-timing-function: ease;
  
}

#left{
  background-color: transparent;
  border: none;
  position: relative;
  width: 10vw;
  top: 120%;
  left: 40%;
  transform: translate(-50%, -50%);
  float: left;
  z-index: 3;
}

#right{
  background-color: transparent;
  border: none;
  position: relative;
  width: 10vw;
  top: 120%;
  right: 40%;
  transform: translate(50%, -50%);
  float: right;
  z-index: 3;
}

.slide{
  display: flex;
  justify-contents: center;
  align-items: center;
  width: 80%;
  height 100%;
}

.info{
  margin: auto;
  width: 80%;
  height: 100%;
  background-color: white;
  position: relative;
}

.ent{
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.a{
  background-color: #b2474c;
}

.b{
  background-color: #42928c;
}

.c{
  background-color: #5a8ede;
}

.d{
  background-color: #9f3a39;
}

.e{
  background-color: #9aa344;
}

#attract{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding-bottom: 100px;
}

#attract div{
  padding: 20px;
  width: 25%;
  background-color: #FFCF10;
  margin-top: 10px;
}

.scrnsht{
  width: 100%;
}

@media only screen and (max-width: 767px) {
  h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 8vw;
  color: white;
  margin-top: -10px;
}

h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 6vw;
  color: white;
  margin-right: 10px;
  margin-top: -5px;
  text-align: right;
}
  
  #attract{
    flex-direction: column;
  }
}

#tickets{
  background-image: linear-gradient(#FFCF10, #ffba06);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 80px;
}

#ticket{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50vw;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  filter: drop-shadow(6px 6px 5px black);
}

#ticket:hover{
  transform: rotate3d(1, 0, 0.5, 30deg);
  filter: drop-shadow(15px 15px 5px black);
}

#deals{
  width: 100%;
  background-color: #ffba06;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pals{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
}

#cover{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  box-shadow: 0 0 10px 10px #ffba06 inset;
}

#sponsor{
  background-color: #5d4532;
  position: relative;
}

#pork{
  width: 25vw;
  transform: scaleX(-1);
  float: right;
}

#emporium{
  position: absolute;
  width: 50vw;
  top: 50%;
  transform: translateY(-50%);
}

#visit{
  background-color: #bae9c7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3{
  font-family: "Courgette", sans-serif;
  font-size: 6vw;
  margin-top: 0px;
}
