/* Restaurant styling */

.restaurant{
  background-color: #201A23;
  background-image: url('images/main_imgs/wood-bg.gif');
}

.restaurantNav {
  list-style-type: none;
  position: sticky;
  background-color: #5BC0EB;
  background-image: none;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 300px;
  z-index: 5;
}

.restaurantNav::after{
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.navFood {
  float: left;
  display: inline;
  padding: 20px;
  /*float: right;*/

}

.foodLink {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #f3f0ff;
  font-size: 30px;
}

.navHolder{
  list-style-type: none; 
  float: right;
  margin: 0;
}

.navFood:hover {
  background-color: #5587d9;
  transition: 0.5s;
  float: left;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: white;
  background-image: url('https://previews.123rf.com/images/pernsanitfoto/pernsanitfoto1601/pernsanitfoto160100038/51245159-green-leaves-background.jpg');
  width: 100%;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.food_container {
  background-color: #201a23;
  display: grid;
  width: 75%;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
  border-radius: 10px;
  padding: 15px;
}

.box {
  background-color: #2e2532;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 150%;
}

.f {
  background-image: url("https://m.media-amazon.com/images/I/71gLY6UjtWL._AC_SL1500_.jpg");
  background-position: center;
  background-size:cover;
}

h4 {
  color: white;
  font-size: 40px;
  font-family: helvetica;
  background-color: #56c686;
  padding: 15px;
  border-radius: 5px;
  width: 20%;
  margin-left: 5%;
}

h5 {
  color: white;
  font-size: 30px;
  font-family: helvetica;
  background-color: #F24236;
  padding: 5px;
  border-radius: 5px;
}

#Menu {
  color: white;
  font-size: 30px;
  font-family: helvetica;
  background-color: #56C686;
}

#food_info {
  background-color: #F24236;
  display: grid;
  width: 70%;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
  border-radius: 10px;
  padding: 15px;
}

.cell {
  background-color: #F36156;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 150%;
}

._a {
  grid-column: 1 / span 2;
}

._b {
  text-align: justified;
  font-size: 30px;
}

td {
  padding: 15px;
}
